@charset "UTF-8";
/*------------------------------
1. TIPOGRAFIA DEL SITIO
--------------------------------*/
/* line 10, estilos.scss */
html {
  font-size: 14px; }

/*------------------------------
2. ESTILOS GENERALES
--------------------------------*/
/* line 17, estilos.scss */
.transparente {
  background-color: transparent !important;
  -webkit-transition: all .6s ease;
  transition: all .6s ease; }

/* line 22, estilos.scss */
.bg-primary {
  background-color: #020510 !important; }

/* line 26, estilos.scss */
.btn {
  border-color: #020510 !important;
  border-radius: 0;
  font-weight: bold; }

/*Efecto de la caja desplazada en el boton*/
/* line 33, estilos.scss */
.btn-primary {
  color: white;
  background-color: #020510;
  position: relative;
  text-transform: uppercase;
  margin-top: 1.5rem;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  /* line 43, estilos.scss */
  .btn-primary:active {
    color: #020510 !important;
    background-color: white !important;
    border-color: transparent; }
  /* line 49, estilos.scss */
  .btn-primary:focus {
    color: #020510;
    background-color: white;
    border-color: #020510;
    -webkit-box-shadow: 0 0 0 0.2rem #020510 !important;
            box-shadow: 0 0 0 0.2rem #020510 !important; }
  /* line 56, estilos.scss */
  .btn-primary:hover {
    color: #020510;
    background-color: white; }
    /* line 60, estilos.scss */
    .btn-primary:hover::before {
      width: 130%;
      left: -15%; }
  /* line 66, estilos.scss */
  .btn-primary:before {
    content: '';
    width: 0px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    -webkit-transform: skew(-45deg, 0);
            transform: skew(-45deg, 0);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    content: '';
    background-color: white; }

/* line 82, estilos.scss */
section,
main {
  margin-top: 3rem; }

/* line 87, estilos.scss */
.titulo {
  font-size: 3.5rem;
  text-align: center;
  font-weight: normal;
  color: black;
  margin-bottom: 2.5rem;
  display: block; }

/*------------------------------
3. INICIO
--------------------------------*/
/* line 99, estilos.scss */
#inicio {
  margin-top: 0;
  /*Estilos al logotipo*/
  /*Boton del menu */
  /*BOTON DE IDIOMAS*/
  /*Banner de la página*/
  background-image: url(../images/fondo.jpg);
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  /* line 103, estilos.scss */
  #inicio .logo {
    width: 4rem; }
  /* line 107, estilos.scss */
  #inicio button:focus {
    outline: none; }
  /* line 111, estilos.scss */
  #inicio .navbar-dark .navbar-toggler {
    border-color: transparent; }
  /* line 115, estilos.scss */
  #inicio .navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.5rem; }
    /* line 119, estilos.scss */
    #inicio .navbar-dark .navbar-nav .nav-link.active, #inicio .navbar-dark .navbar-nav .nav-link:hover {
      background-color: white;
      color: #020510;
      border-radius: .5rem; }
  /* line 128, estilos.scss */
  #inicio .idiomas a:hover {
    text-decoration: none; }
  /* line 132, estilos.scss */
  #inicio .boton-menu:before {
    content: '\f142';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: white;
    font-size: 3rem; }
  /* line 140, estilos.scss */
  #inicio .icono-cerrar:before {
    content: '\f00d';
    position: relative;
    font-size: 3rem; }
  /* line 158, estilos.scss */
  #inicio:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  /* line 168, estilos.scss */
  #inicio .texto-encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    z-index: 100; }

/*------------------------------
4. SOBRE-MI
--------------------------------*/
/* line 180, estilos.scss */
#sobre-mi .perfil {
  width: 9rem;
  margin-bottom: 1rem;
  border-radius: 1rem; }
/* line 186, estilos.scss */
#sobre-mi .cv {
  background-color: #28a745;
  margin-top: 0; }
  /* line 190, estilos.scss */
  #sobre-mi .cv:hover {
    color: #17a2b8; }

/*------------------------------
5. SERVICIOS
--------------------------------*/
/* line 200, estilos.scss */
#servicios h3 {
  font-size: 2rem;
  text-align: center; }
/* line 205, estilos.scss */
#servicios .contenedor {
  border-radius: 1rem;
  padding: 2rem;
  height: 27rem;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a2482), to(#2b2525));
  background: linear-gradient(to top, #0a2482, #2b2525);
  -webkit-box-shadow: 0 12px 30px 0 rgba(80, 85, 223, 0.37);
          box-shadow: 0 12px 30px 0 rgba(80, 85, 223, 0.37);
  margin-bottom: .8rem; }
/* line 215, estilos.scss */
#servicios .ondas {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }
/* line 222, estilos.scss */
#servicios .icono {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem; }

/*------------------------------
6. MIS TRABAJOS
--------------------------------*/
/* line 233, estilos.scss */
#mis-trabajos a {
  text-decoration: none; }
  /* line 236, estilos.scss */
  #mis-trabajos a p {
    color: black;
    text-align: center; }
/* line 242, estilos.scss */
#mis-trabajos .owl-prev,
#mis-trabajos .owl-next {
  font-size: 3rem; }
/* line 247, estilos.scss */
#mis-trabajos button:focus {
  outline: none; }
/* line 251, estilos.scss */
#mis-trabajos .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #020510;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

/*------------------------------
7. TRABAJAR-CONMIGO
--------------------------------*/
/* line 262, estilos.scss */
#trabajar-conmigo h3 {
  font-size: 1.3rem;
  margin-top: .3rem; }
/* line 267, estilos.scss */
#trabajar-conmigo .fas,
#trabajar-conmigo .fab {
  font-size: 2rem;
  color: #020510; }

/*------------------------------
8. FOOTER
--------------------------------*/
/* line 277, estilos.scss */
#pie {
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: #2F2F2F;
  color: white; }
  /* line 283, estilos.scss */
  #pie .redes {
    font-size: 1.5rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: white; }
    /* line 288, estilos.scss */
    #pie .redes:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      color: #007AB9; }

/* line 295, estilos.scss */
#whatsapp {
  position: fixed;
  font-size: 3rem;
  color: green;
  right: 1rem;
  bottom: 1rem; }
  /* line 301, estilos.scss */
  #whatsapp:hover {
    color: #0e660e; }

/* =============================================
9. Medias Queries
============================================= */
/* --------------Vista sm ------------- */
@media (min-width: 576px) {
  /* line 314, estilos.scss */
  #servicios .contenedor {
    height: 19rem; } }
/* --------------Vista Md ------------- */
@media (min-width: 768px) {
  /* line 322, estilos.scss */
  html {
    font-size: 16px; }

  /* line 327, estilos.scss */
  #inicio .navbar-dark .navbar-nav .nav-link {
    font-size: 1rem; }

  /* line 333, estilos.scss */
  #servicios .contenedor {
    height: 17rem; } }
/* --------------Vista lg ------------- */
@media (min-width: 992px) {
  /* line 342, estilos.scss */
  #sobre-mi .perfil {
    width: 11rem;
    margin-bottom: 0; }

  /* line 350, estilos.scss */
  #servicios .contenedor {
    height: 30rem; } }
/* --------------Vista Xl ------------- */
@media (min-width: 1200px) {
  /* line 358, estilos.scss */
  html {
    font-size: 18px; }

  /* line 363, estilos.scss */
  #servicios .contenedor {
    height: 28rem; } }
